{% extends 'base.html' %}
{% block content %}
<h2>قائمة المنتجات</h2>
<form method='post'>
  <input type='text' name='name' placeholder='اسم المنتج'>
  <input type='text' name='category' placeholder='الفئة'>
  <select name='supplier_id'>
    {% for s in suppliers %}<option value='{{ s.id }}'>{{ s.name }}</option>{% endfor %}
  </select>
  <input type='number' step='0.1' name='purchase_price' placeholder='سعر الشراء'>
  <input type='number' step='0.1' name='sale_price' placeholder='سعر البيع'>
  <input type='number' name='in_stock' placeholder='الكمية'>
  <button type='submit'>إضافة</button>
</form>
<ul>
  {% for p in products %}
    <li>{{ p.name }} - {{ p.sale_price }} جنيه | 
        <a href="/products/edit/{{ p.id }}">✏️</a> 
        <a href="/products/delete/{{ p.id }}">🗑</a>
    </li>
  {% endfor %}
</ul>
{% endblock %}