{% extends 'base.html' %}
{% block content %}
<h2>إعدادات حساب الأولويات</h2>
<form method='post'>
  <label>وزن معدل دوران المخزون:</label><input type='number' name='stock_weight' step='0.1'><br>
  <label>وزن هامش الربح:</label><input type='number' name='profit_weight' step='0.1'><br>
  <label>وزن الأهمية الاستراتيجية:</label><input type='number' name='importance_weight' step='0.1'><br>
  <label>وزن تاريخ الاستحقاق:</label><input type='number' name='due_weight' step='0.1'><br>
  <button type='submit'>حفظ الإعدادات</button>
</form>
{% endblock %}